#surveyor.container
  = render 'partials/surveyor_flash'
  = simple_form_for(@response_set, wrapper: :surveyor, as: :r, url: surveyor.update_my_survey_path, html: {method: :put, id: "survey_form", class: @survey.dom_class}) do |f|
    .row
      .col-md-8
        %h1.survey_title= @survey.translation(I18n.locale)[:title]
        %h2.previous_section= previous_section
      = render 'partials/section_menu' # unless @sections.size < 3
    = render 'partials/dependents' unless @dependents.empty?
    = render "/partials/section", :f => f
    .row
      %h2.next_section.pull-right= next_section

    = hidden_field_tag :surveyor_javascript_enabled, false
  %br

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);
  });